<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body >
    <main id="app">
      <h1> Lista de Usuarios</h1>
      <p v-if="users.length === 0"> No hay usuarios que mostrar</p>
      <p v-else v-for="user in users"> {{user.name}} </p>
      <button v-on:click="showUsers"> Usuarios</button>
<button v-on:click ="showPremium"> premium</button>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
              const { createApp } = Vue; // extraemos el método createApp de V

              const app = createApp({
      data() {
          return {
            users:[]

          } 
      },
      methods: {

       async showUsers(){
            let response = await fetch ("http://localhost:3000/users")
            let data = await response.json();
            this.users =data;
        },
        
        showPremium(){
            this.users = this.users.filter(user => user.isPremium == true)
            
        
            
        },
        
      },
      })

      app.mount("#app"); // le indicamos hacia qué elemento HTML apunt
      
    </script>
  </body>
</html>
